#*
*.pyc
*~
,*
.#*
.DS_Store
/.couchapprc
/_attachments/style/ie.css
/_attachments/style/print.css
/_attachments/style/screen.css
/compass/.sass-cache/
/tools/photoexport/output/
/tools/photoexport/photoexport
/tools/phototocamli/phototocamli
/tools/redirect/redirect
/tools/s3syncdown/s3syncdown