<div id="thumblist" ng-show="photos">
  <a ng-repeat="p in photos" href="#!/photo/{{p._id}}">
    <img src="../../{{p._id}}/thumb.{{p.extension}}"
         alt="full image" title="taken {{p.taken}}, added {{p.ts}}">
  </a>
</div>

<div id="footer" ng-show="total">
  <div>
    <span ng-repeat="p in pages">
      <a ng-hide="p.page == pageNum" href="{{p.link}}">{{p.page}}</a>
      <em ng-show="p.page == pageNum" class="currentPage">{{p.page}}</em>
    </span>
  </div>
  <div>
    Found {{total}} images, on page {{pageNum}}.
  </div>
</div>
