<div id="showphoto">

<p id="imagedisplay">
 <img src="{{imageLink}}" alt="full image"/>
</p>

<div id="info">

  <p>Tags:
    <a ng-repeat="t in photo.keywords" href="#/tag/{{t}}">{{t}} </a>
  </p>

  <p>Size:  {{photo.width}}x{{photo.height}} (<a title="original" href="{{origLink}}">{{photo.size}} bytes</a>)</p>

  <p>Taken: {{photo.taken}}, Added: {{photo.ts}} by {{photo.addedby}}</p>


  <p>Category:  {{photo.cat}}</p>

  <h2>Description</h2>
  <p ng-bind-html-unsafe="photo.descr | markdownify"></p>

  <div id="comments" ng-hide="comments"><h2>No comments</h2></div>
  <div id="comments" ng-show="comments">
    <h2>Comments</h2>

    <div ng-repeat="c in comments">
      <p>{{c.realname}} said on {{c.ts}}:</p>
      <blockquote ng-bind-html-unsafe="c.note | markdownify"></blockquote>
    </div>
  </div>

  <div id="futonlink">
    <a href="/_utils/document.html?{{dbname}}/{{photo._id}}">(edit in futon)</a>
  </div>
</div>
</div>

</html>
