<!DOCTYPE html>
<html>
  <head>
    <title>Sallings Photo Album</title>
    <link rel="stylesheet" href="../../style/screen.css" type="text/css">
  </head>
  <body id="showphoto">

<p id="imagedisplay">
 <img src="{{imageLink}}" alt="full image"/>
</p>

<div id="info">

  <p>Tags:
    {{#kw}}
    <a href="{{link}}">{{name}}</a>
    {{/kw}}
  </p>

  <p>Size:  {{width}}x{{height}} ({{size}} bytes)</p>

  <p>Taken: {{taken}}, Added: {{ts}} by {{addedby}}</p>

  <p>Category:  {{cat}}</p>

  <h2>Description</h2>
  <p id="description">
    {{{markeddown}}}
  </p>

  <div id="comments"></div>

  <div id="futonlink">
    <a href="/_utils/document.html?{{dbname}}/{{_id}}">(edit in futon)</a>
  </div>
</div>
</body>

  <script src="../../js/prefix-loader.js"></script>
  <script type="text/javascript" charset="utf-8">
    couchapp_prefix_load("../../");
  </script>
  <script type="text/javascript" charset="utf-8">
    $$("#imagedisplay").docid = '{{_id}}';
    $.couch.app(function(app) {
      $("#comments").evently("comments", app);
    });
  </script>

</html>
