/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}

#profile {
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

#items {
  padding:8px;
  width: 66%;
  float: left;
}

#sidebar {
  padding:8px;
  float:right;
  width:30%;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#slider {
    position:relative;
    width:800px;
    height:600px;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:200px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}

#slider .nivo-controlNav {
	position:absolute;
	bottom:-70px; /* Put the nav below the slider */
}
#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}

#cloudcontainer {
}

#cloudcontainer a {
    text-decoration: none;
}

.tag0 {
	background: inherit;
	color: blue;
    font-size: 250%;
}

.tag1 {
	background: inherit;
	color: #22f;
    font-size: 200%;
}

.tag2 {
	background: inherit;
	color: #66f;
    font-size: 100%;
}

.tag3 {
	background: inherit;
	color: #88f;
    font-size: 70%;
}

.tag4 {
	background: inherit;
	color: #bbf;
    font-size: 50%;
}
